vti_encoding:SR|utf8-nl
index_arquivos/editdata.mso:index.htm
http\://172.26.29.92/cgdoc/treinamento/:index.htm
http\://172.26.29.92/cgdoc/sadm/:index.htm
http\://172.26.29.92/cgdoc/sercod/:index.htm
