vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Sep 2012 19:33:48 -0000
vti_extenderversion:SR|4.0.2.8912
vti_cacheddtm:TX|10 Sep 2012 19:33:48 -0000
vti_filesize:IR|5276
vti_cachedlinkinfo:VX|S|img/default3_tab2.gif S|img/default3_tab3.gif
vti_cachedsvcrellinks:VX|FSUS|cgdoc/Sercod/include/img/default3_tab2.gif FSUS|cgdoc/Sercod/include/img/default3_tab3.gif
vti_backlinkinfo:VX|cap/protocolocap/impr_recibo_addnewitem.asp cap/protocolocap/moviment2_addnewitem.asp cap/protocolocap/moviment_addnewitem.asp cap/protocolocap/moviment_sec2_addnewitem.asp cap/protocolocap/_audmoviment_addnewitem.asp cap/protocolocap/cadastro_addnewitem.asp cap/protocolocap/moviment_sec_addnewitem.asp cap/protocolocap/tramitacao_addnewitem.asp cap/protocolocap/usu_rios_addnewitem.asp
